:root {
  --background: #
  --boxes: #
  --headers: #
  --content: #
  --links: #
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#cookieStand {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
  padding-top: 0.5rem;
  font-size: 20px;
}

header {
  width: 100%;
  background-color: #ADB7EB;
  padding: 1em 0;
  border: double 0.6em #5a6599;
}

body {
  background-color: #e1b09f;
}

#header-title {
  margin-bottom: 1em;
}


nav ul {
  display: flex;
  
  }

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  text-decoration: none;
  color: black;
  border: double 5px;
  padding: 2.5px;
  border-radius: 10px;
}

nav ul li a:hover {
  background-color: #5a6599;
  transition: ease 0.3s;
  color: black;
}

footer {
  text-align: center;
  margin: 1em;
}

main img {
  width: auto;
  display: flex;
}

td, th {
  padding: 0.5em;
}

hr {
  border-top: 0.1em solid #000000;
}

.copyright {
  text-align: center;
}

.maincontent {
  border: 5px;
  border-style: double;
  border-radius: 5em;
  align-items: center;
  text-align: center;
  margin: 50px;
  padding: 1em;
  background-color: #ADB7EB;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border: solid 2px black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.headercontainer {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logocontainer {
  width: 200px;
  margin-bottom: 0.5em;
}

.tophalf {
  display: flex;
  height: 200px;
  padding: 1em;
  padding-left: 2em;
  align-content: center;
}


.salmoncookies {
  border-radius: 1em;
  max-width: 200%;
}

.tophalfsales {
  height: 275px;
}

.tophalf p {
  padding-left: 1.5rem;
}

.headerbox {
  padding-bottom: 0.25em;
}

.bottomhalf {
  margin: 0 auto;
  height: 200px;
}

#cookie-data {
  margin: 0 auto;
  
}

.datarow {
  border: solid 1px;
}

.storenames {
  font-weight: bold;
}

.datarow td {
  padding: 10px;
  border: solid 1px;
}

.datarow th {
  padding: 5px;
  border: solid 1px;
}

.datarow tr {
  border: solid 1px;
  padding: 5px;
}

.locations {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: double 0.4em;
  width: 30%;
  padding: 0.3em;
  background-color:#ADB7EB;
  margin-left: 1em;
}

.locations li {

  padding: 0.3em;
}

.form-container {
  margin: 0 auto;
  padding: 2em;
  
}

.phonelogo {
  max-width: 30%;
  max-height: 30%;
}

fieldset {
  padding: 1.5em;
  background-color: #ADB7EB;
  border: double 0.3em;
}

label {
padding-left: 2em;
}

input {
  border-radius: 0.75em;
  margin-left: 0.5em;
  padding: 0.4em;
}

button {
  padding: 1em;
  margin-left: 1em;
  border-radius: 0.5em;
  background-color:#707cbc;
  font-weight: bold;
}



@media (min-width: 600px) {
  .headercontainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logocontainer {
  margin-bottom: 0;
}
#header-title {
  margin-bottom: 0;
}
}

