:root {
  --background: #
  --boxes: #
  --headers: #
  --content: #
  --links: #
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#cookieStand {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
  padding-top: 0.5rem;
  font-size: 20px;
}

header {
  width: 100%;
  background-color: #ADB7EB;
  padding: 1em 0;
  border: solid 0.5em #5a6599;

}

body {
  background-color: #dbaa99;
}

.headercontainer {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logocontainer {
  width: 200px;
  margin-bottom: 0.5em;
}

#header-title {
  margin-bottom: 1em;
}

nav ul {
  display: flex;
  }

nav ul li {
  margin: 0 1em;
}

.copyright {
  text-align: center;
}

main img {
  width: auto;
  display: flex;
}

.maincontent {
  border: 5px;
  border-style: double;
  border-radius: 5em;
  align-items: center;
  text-align: center;
  margin: 50px;
  padding: 1em;
  background-color: #ADB7EB;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border: solid 2px black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

footer {
  text-align: center;
  margin: 1em;
}

.tophalf {
  display: flex;
  height: 200px;
  padding: 1em;
  padding-left: 2em;
  align-content: center;
}


.salmoncookies {
  border-radius: 1em;
  max-width: 200%;
}

.tophalfsales {
  height: 500px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.tophalf p {
  padding-left: 1.5rem;
}

.headerbox {
  padding-bottom: 0.25em;
}

.bottomhalf {
  padding-top: 1.5em;
}


.seattlebox {
padding: 20px;
border: solid;
}

.tokyobox {
padding: 20px;
border: solid;
}

.dubaibox {
padding: 20px;
border: solid;
}

.parisbox {
padding: 20px;
border: solid;
}

.limabox {
padding: 20px;
border: solid;
}








@media (min-width: 600px) {
  .headercontainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logocontainer {
  margin-bottom: 0;
}
#header-title {
  margin-bottom: 0;
}
}

